<h2>Add Timezone</h2>

<div>
  {{#each timezones as |zone|}}
    <li>{{zone.name}}{{zone.offset}}</li>
  {{/each}}
</div>

<button {{action 'add'}}>Add Timezone</button>

<h2>My Timezones</h2>

<ul>
{{#each model}}
  <li>{{name}} <button {{action 'remove' this}}>Delete</button></li>
{{/each}}
</ul>
